click==7.1.2
cycler==0.10.0
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
numpy==1.18.4
Pillow==8.1.1
prettytable==0.7.2
pyecharts==1.7.1
pyparsing==2.4.7
python-dateutil==2.8.1
pywin32==227
simplejson==3.17.0
six==1.14.0
Werkzeug==1.0.1
