{% extends "base.html "%}


{% block content %}
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<div style="position: fixed;top: 100px;right: 100px">
    <img src="/static/img/money_bag.png">
    <span style="position: fixed;top: 100px">{{paid_limit}}</span>
</div>

<div class="container" style="padding: 10px; ">
    <div id="chart" style="width:1200px; height:600px;"></div>
    <script>
        $(function () {
                var chart = echarts.init(document.getElementById('chart'), 'white', {renderer: 'canvas'});
                $.ajax({
                    type: "GET",
                    url: "{{ chart_url }}",
                    dataType: 'json',
                    success: function (result) {
                        chart.setOption(result);
                    }
                }); 
            }
        )
    </script>  

    {% include 'status_table.html' %}

    <div id="chart_usage" style="width:1200px; height:600px;"></div>
    <script>
        $(function () {
            var chart = echarts.init(document.getElementById('chart_usage'), 'white', {renderer: 'canvas'});
            $.ajax({
                type: "GET",
                url: "{{ usage_chart }}",
                dataType: 'json',
                success: function (result) {
                    chart.setOption(result);
                }
            });
        })

    </script>

</div>
{% endblock %}